.app-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}